<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>

    <div id = "img" class = "image">
        <span>
            <img src = "../images/beer.png">
        </span>
    </div>
    <div>
        <button><a class="button" id="beers" href="/beers">Check the Beers!</a></button>
        <button><a class="button" id="random-beer" href="/random-beer">Check a Random Beer!</a></button>
    </div>

  </body>
</html>